* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 200%;
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: 20%;
  height: 20%;
}

/* Square in the middle of the page */
.box1 {
  background: gainsboro;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Square is the middle of the container box */
.box2 {
  background: hotpink;
  top: 0%;
  left: 0%;
}

.box3 {
  position: fixed;
  background: khaki;
  top: 2rem;
}
