* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  padding: 2rem 4rem;
  cursor: pointer;
}

button:hover {
  background: rgb(209, 176, 133);
}

button:focus {
  background: chartreuse;
}

input:focus {
  background: chartreuse;
}

h1::before {
  content: "fffffffff ";
}

h1::after {
  content: " o, world";
}
